{% extends "layout.html" %}


{% block title %}Fugulin Resultado{% endblock %}

{{ super() }}



{% block body %} 
<style>
span.step {
  background: #33CCCC;
  border-radius: 1.0em;
  -moz-border-radius: 1.0em;
  -webkit-border-radius: 1.0em;
  color: #ffffff;
  display: inline-block;
  font-weight: bold;
  line-height: 2.3em;
  margin-right: 5px;
  text-align: center;
  width: 2.3em; 
}
</style>



{#  CDN do chartJS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js" integrity="sha256-OHkZxrR7EXZQ8MlUC+Ww2+RedaJSP6DEsAukSt023dU=" crossorigin="anonymous"></script>
&nbsp;
<div class="row">
  <div class="col-12 col-md-6">
    <center><h4>Nº de problemas por nível de cuidado</h4></center>
      <canvas id="CirsgChart" width="200" height="200"></canvas>
      <script>
      // And for a doughnut chart
      var ctx = document.getElementById("CirsgChart").getContext('2d');
      var myChart = new Chart(ctx, {
        type: 'doughnut',
        data: {
          labels: ["Cuidado Mínimo", "Cuidade Intermediário", "Cuidado de Alta Dependência", "Cuidado Intensivo"],
          datasets: [{
            backgroundColor: [
              "#99CCCC",
              "#33CCCC",
              "#CC6699",
              "#CC3366"
            ],
            data: [{{ resultados.soma1 }}, {{ resultados.soma2 }}, {{ resultados.soma3 }}, {{ resultados.soma4 }}]
          }]
        }
      });
      </script>
      &nbsp;
  </div>
    <div class="col-12 col-md-6">
        <h4>Resp: {{ resultados.username_profissional }}</h4>
        <h4>Paciente: {{resultados.paciente  }}</h4>
        <h4>Idade:&nbsp;{{ idade }} anos</h4>
        <h4>Data/Hora: {{ resultados.datareg|datetimeformat }} </h4>
        &nbsp;
        <center><h4>Resultado da avaliação</h4></center>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" /> 
        <h5>Pontuação Total:&nbsp;<span class="step">{{ resultados.somatotal }}</span></h5>
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" />
          
       
        {# identifica o nível de complexidade asssitencial que o paciente necessita #}
        {%- if resultados.somatotal <= 14 %}
          <h5>O paciente necessita de cuidados <b>Mínimos</b></h5>
        {%- elif resultados.somatotal <= 20 %}
          <h5>O paciente necessita de cuidados <b>Intermediárias</b></h5>
        {%- elif resultados.somatotal <= 26 %}
          <h5>O paciente necessita de cuidados de <b>Alta dependência</b></h5>
        {%- elif resultados.somatotal <= 31 %}
          <h5>O paciente necessita de cuidados <b>Semi-intensivos</b></h5>
        {%- else %}
          <h5>O paciente necessita de cuidados <b>Intensivos</b></h5>
        {%-  endif  %}
        <hr style="width: 100%; color: #77cbcd; height: 1px; background-color:#77cbcd;" />
         &nbsp;
    </div>
   
  
  
  
  <div class="col-12 col-md-6">
    <center><h4>Cuidados de alta dependência</h4></center>
     
     <table class="table table-striped table-responsive">
       <thead>
        <tr>
          <th>#</th>
          <th>Área afetada</th>
        </tr>
      </thead>
        <tbody>
        {%- set contador = 0 %}
          {%- if resultados.estadomental == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Estado mental</td></tr>
          {%-  endif  %}
          
          {%- if resultados.oxigenacao == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Oxigenação</td></tr>
          {%-  endif  %}
          
          {%- if resultados.sinaisvitais == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Sinais vitais</td></tr>
          {%-  endif  %}
          
          {%- if resultados.motibilidade == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Motibilidade</td></tr>
          {%-  endif  %}
          
           {%- if resultados.deambulacao == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Deambulação</td></tr>
          {%-  endif  %}
          
           {%- if resultados.alimentacao == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Alimentação</td></tr>
          {%-  endif  %}
          
           {%- if resultados.cuidadocorporal == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Cuidado corporal</td></tr>
          {%-  endif  %}
          
          {%- if resultados.eliminacao == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Eliminação</td></tr>
          {%-  endif  %}
          
          {%- if resultados.terapeutica == 3 %}
            {%- set contador = contador + 1 %}
            <tr><th scope="row">{{ contador }}</th>
            <td>Terapêutica</td></tr>
          {%-  endif  %}
          
        </tbody>
    </table>
   </div>  
   
   
   
    <div class="col-12 col-md-6">
    <center><h4>Cuidados Intensivos</h4></center>
     
     <table class="table table-striped table-responsive">
       <thead>
        <tr>
          <th>#</th>
          <th>Área afetada</th>
        </tr>
      </thead>
        <tbody>
         {%- set contador1 = 0 %}
          {%- if resultados.estadomental == 4 %}
          {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Estado mental</td></tr>
          {%-  endif  %}
          
          {%- if resultados.oxigenacao == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Oxigenação</td></tr>
          {%-  endif  %}
          
          {%- if resultados.sinaisvitais == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Sinais vitais</td></tr>
          {%-  endif  %}
          
          {%- if resultados.motibilidade == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Motibilidade</td></tr>
          {%-  endif  %}
          
           {%- if resultados.deambulacao == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Deambulação</td></tr>
          {%-  endif  %}
          
           {%- if resultados.alimentacao == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Alimentação</td></tr>
          {%-  endif  %}
          
           {%- if resultados.cuidadocorporal == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Cuidado corporal</td></tr>
          {%-  endif  %}
          
          {%- if resultados.eliminacao == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Eliminação</td></tr>
          {%-  endif  %}
          
          {%- if resultados.terapeutica == 4 %}
            {%- set contador1 = contador1 + 1 %}
            <tr><th scope="row">{{ contador1 }}</th>
            <td>Terapêutica</td></tr>
          {%-  endif  %}
        </tbody>
    </table>
  </div>
  &nbsp;
</div>
<div class="col-12 text-center">
  <a href="/fugulinresultadosanteriores/{{resultados.idpaciente}}"<button type="button" class="btn btn-light">Ver prontuários anteriores</button></a>
</div>
&nbsp;
{% endblock %}
