{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block body %} 

                    
    <form class="form form-group" method="POST">
         {{ Formcadastropaciente.csrf_token }}
        <div class="row">
            <div class="col-sm-6">       
                {{ wtf.form_field(Formcadastropaciente.username, pattern="^[a-z0-9_-]{6,20}$", 
                title="O nome de usuário não pode conter caracteres especiais e espaços")  }}
            </div>
            <div class="col-sm-6">      
                {{  wtf.form_field(Formcadastropaciente.email) }}
            </div>
            <div class="col-sm-6">   
                {{ wtf.form_field(Formcadastropaciente.password) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.confirm) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.first_name) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.last_name) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.datanasc) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.active) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastropaciente.cpf) }}
            </div>
    
            <div class="col-12">
                 <div class="text-center">{{ wtf.form_field(Formcadastropaciente.salvar, class="btn btn-primary btn-lg") }}</div>
            </div>
        </div>
    </form>
    
    

{% endblock %}