{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Cadastro de Funcionário{% endblock %}

{% block body %} 


{{super()}}


                    
    <form class="form form-group" method="POST">
         {{ Formcadastrofuncionario.csrf_token }}
        <div class="row">
            <div class="col-sm-6">       
                {{ wtf.form_field(Formcadastrofuncionario.username, pattern="^[a-z0-9_-]{6,20}$")  }}
            </div>
            <div class="col-sm-6">      
                {{  wtf.form_field(Formcadastrofuncionario.email) }}
            </div>
            <div class="col-sm-6">   
                {{ wtf.form_field(Formcadastrofuncionario.password) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.confirm) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.first_name) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.last_name) }}
            </div>
             <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.datanasc) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.cpf) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.roles) }}
            </div>
            <div class="col-sm-6"> 
                {{ wtf.form_field(Formcadastrofuncionario.active) }}
            </div>
            <div class="col-sm-6">
                 {{ wtf.form_field(Formcadastrofuncionario.salvar, class="btn btn-primary btn-lg") }}
            </div>
        </div>
    </form>
    
    

{% endblock %}